@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Awesome Single Page Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="Magnus Green">

    <!-- Le styles -->
    @Styles.Render("~/Content/styles")
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/jquery")

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="main-view">
    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Awesome SPA</a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li data-bind="visible:loading">
                        <a href="#">Loading...</a>
                    </li>
                    <li>
                        <form class="navbar-search pull-right">
                            <input type="text" class="input-medium search-query" placeholder="Search here" data-bind="value: searchTerm">
                            <button type="submit" class="btn-primary" data-bind="click: performSearch">Search</button>
                        </form>
                     </li>
                    <li data-bind="css: { active: automaticUpdates }">
                        <a href="#" data-bind="click: toggleAutomaticUpdates"><span data-bind="text: automaticUpdatesText"></span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span data-bind="text: updateFrequencyText"></span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" data-bind="foreach:updateFrequencies">
                            <li><a tabindex="-1" href="#" data-bind="text: $data + ' secs', click: $root.setUpdateFrequency"></a></li>
                        </ul>
                    </li>
                
                </ul>
           </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderPage("Views/home.cshtml")
    </div>

    @Scripts.Render(
        "~/signalr/hubs",
        "~/bundles/bootstrap",
        "~/bundles/vendor",
        "~/Scripts/require.js",
        "~/Scripts/main.js",
        "~/bundles/app"
        )
</body>
</html>
